$(".post-<%= singular_table_name.id %>").hide(500)
$('<div class="col-md-12"> <p class="alert alert-danger text-center mt-3 shadow" role="alert"><%= singular_table_name %> was successfully destroyed.</p></div>').insertBefore('section')
